<section class="main-section landing-section"
         data-panel="1">
  <h1 class="section-header">MarkIvanAllen</h1>
  <div class="section-content">
    <p>
      <em>
        Co-founder and CTO of
        <a href="http://vydia.com" target="_blank">Vydia, Inc.</a>,
        <br/>
        loving father of 0,
        <br/>
        obviously not a designer.
      </em>
    </p>
  </div>
</section>

<% 10.times do |i| %>
  <section class="main-section"
           data-panel="<%= i + 2 %>">
    <h2 class="section-header">Header <%= i %></h2>
    <div class="section-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper enim a venenatis pharetra. Phasellus at felis tellus. Fusce vitae lorem velit. Vivamus sagittis tincidunt sagittis. Etiam consectetur, est nec accumsan sagittis, lacus tellus condimentum augue, nec hendrerit magna orci sed magna. Suspendisse potenti. Nam venenatis metus vitae libero aliquam hendrerit.
      </p>
    </div>
  </section>
<% end %>

<div class="continue-section gone">
  <a class="continue-btn" href="#">
    <span class="fa fa-arrow-down"></span>
  </a>
</div>

<div id="progress-section">
  <h1>Gathering strength ...</h1>
  <div id="progress-bar"></div>
</div>
