<section class="main-section landing-section"
         data-panel="0">
  <h1 class="section-header">MarkIvanAllen</h1>
  <div class="section-content">
    <p></p>
  </div>
  <div class="continue-section">
    <a class="continue-btn" href="#"
       data-panel="1">I sorta care about that</a>
  </div>
</section>

<% 10.times do |i| %>
  <section class="main-section"
           data-panel="<%= i + 1 %>">
    <h2 class="section-header">Content <%= i %></h2>
    <div class="section-content"></div>
    <div class="continue-section">
      <a class="continue-btn" href="#"
         data-panel="<%= i + 2 %>">next</a>
    </div>
  </section>
<% end %>
