<section class="main-section landing-section"
         data-panel="0">
  <h1 class="section-header">MarkIvanAllen</h1>
  <div class="section-content">
    <p>
      <em>
        Co-founder and CTO of
        <a href="http://vydia.com" target="_blank">Vydia, Inc.</a>,
        <br/>
        loving father of 0,
        <br/>
        obviously not a designer.
      </em>
    </p>
  </div>
</section>

<% 10.times do |i| %>
  <section class="main-section"
           data-panel="<%= i + 1 %>">
    <h2 class="section-header">Content <%= i %></h2>
    <div class="section-content"></div>
  </section>
<% end %>

<div class="continue-section">
  <a class="continue-btn" href="#"
     data-panel="1">
    alrighty then
  </a>
</div>
